// see angular material dialog.scss

@import "style/_variables";

.md-spotlight-is-showing {

  md-toolbar {
    z-index: initial;
  }

}

md-backdrop.md-spotlight-backdrop.md-opaque {

  opacity: .92;

  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter.md-opaque.ng-enter-active {
    opacity: .92;
  }
  &.ng-leave {
    opacity: .92;
  }
  &.ng-leave.md-opaque.ng-leave-active {
    opacity: 0;
  }

}

[md-spotlight].md-spotlight-shining {
  position: relative;
  z-index: 89;
}

.md-spotlight-spotlight {

  position: fixed;
  background: inherit;
  z-index: 88;

  &.md-transition-in {
    opacity: 1;
    transition: $swift-ease-out;
    transform: translate(0,0) scale(1.0);
  }
  &.md-transition-out {
    opacity: 0;
    transition: $swift-ease-out;
    transform: translate(0,100%) scale(0);
  }

}

md-spotlight-tip {
  display: none;
}

.md-spotlight-tip-container {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 88;

  color: white;

  #md-spotlight-tip-parent {

    position: relative;

    > md-spotlight-tip {

      display: block;

      transition: $swift-ease-out;

      &.ng-enter {
        position: absolute;
        transform: translate(0,25px);
        opacity: 0;
      }
      &.ng-enter.ng-enter-active {
        transform: translate(0,0);
        opacity: 1;
      }
      &.ng-leave {
        position: absolute;
        transform: translate(0,0) scale(1.0);
        opacity: 1;
      }
      &.ng-leave.ng-leave-active {
        transform: translate(0,-25px) scale(0.5);
        opacity: 0;
      }
    }

  }

  transition: $swift-ease-out;

  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

}
